$primary-color: #D24344;

.wrapper {
  height: 100%;
  display: grid;
  grid-template-areas:
    'filter report video'
    'filter report chart';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr;

  .filter {
    grid-area: filter;
  }

  .report {
    grid-area: report;
    background: $primary-color;
  }

  .video {
    grid-area: video;
  }

  .chart {
    grid-area: chart;
  }
}
